@model BloomSoft_V2.Models.VerbosTarjeta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VerbosTarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TarjetaRequerim.id_tarjetaRequerim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarjetaRequerim.id_tarjetaRequerim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verbotax.verbos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verbotax.verbos)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_verbostarjeta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
