@model IEnumerable<BloomSoft_V2.Models.VerbosTarjeta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--formato para mostrar los valores de la tabla VerbosTarjeta-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TarjetaRequerim.id_tarjetaRequerim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verbotax.verbos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TarjetaRequerim.id_tarjetaRequerim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verbotax.verbos)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_verbostarjeta }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_verbostarjeta }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_verbostarjeta })
            </td>
        </tr>
    }

</table>
