@model IEnumerable<BloomSoft_V2.Models.Verbotax>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--formato para mostrar los valores de la tabla Verbotax-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Taxonomia.categoria)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Taxonomia.categoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_verbo }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_verbo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_verbo })
            </td>
        </tr>
    }

</table>
