@using Microsoft.AspNet.Identity
@model BloomSoft_V2.Models.Edicion
@{
    
    ViewBag.Title = "Create";
}


<h2>Crear requerimiento</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-9 col-md-offset-3">

            <div class="form-horizontal">
                <h4>TarjetaRequerim</h4>
                <hr />
                @Html.HiddenFor(model => model.tarjetaModels1.id_requerimiento)

                @Html.HiddenFor(model => model.tarjetaModels1.id_partidaJugador)

                <div class="form-group">
                    @Html.LabelFor(model => model.tarjetaModels1.nivel_tax, "nivel_tax", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tarjetaModels1.nivel_tax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tarjetaModels1.nivel_tax, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.tarjetaModels1.tiempo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tarjetaModels1.tiempo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tarjetaModels1.tiempo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.tarjetaModels1.dificultad, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tarjetaModels1.dificultad, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tarjetaModels1.dificultad, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.tarjetaModels1.puntos)

                <div class="form-group">
                    @Html.LabelFor(model => model.tareaModels1.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.tareaModels1.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.tareaModels1.descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.verbotarjetaModels1.id_verbo, "id_verbo", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.verbotarjetaModels1.id_verbo, ViewBag.id_verbo as SelectList, Model.verbotarjetaModels1.id_verbo)
                        @Html.ValidationMessageFor(model => model.verbotarjetaModels1.id_verbo, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


