@model BloomSoft_V2.Models.Edicion
@{
    ViewBag.Title = "Edit3";
}

<h2>Edit3</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Verbotax</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.verboModels1.id_verbo)

    <div class="form-group">
        @Html.LabelFor(model => model.verboModels1.nivel_tax, "nivel_tax", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.verboModels1.nivel_tax, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.verboModels1.nivel_tax, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.verboModels1.verbos, "verbos", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.verboModels1.verbos, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.verboModels1.verbos, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>