@model BloomSoft_V2.Models.Edicion

@{
    ViewBag.Title = "Index";
}

<!--vista para mostrar la información de las tarjetas mediante tablas-->

<style>
    .inlineTable {
        display: inline-block;
    }

    .table2 {
        margin-left: 35%;
        margin-top: -135px;
    }

    .table3 {
        margin-left: 70%;
        margin-top: -130px;
    }
</style>

<h2>Tarjetas Asignadas</h2>

<!--tabla que muestra las caracteristicas del requerimiento como categoria, tiempo y dificultad-->
<div class="col-xs-6">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>categoria</th>
                    <th>tiempo</th>
                    <th>dificultad</th>
                    <th>puntos</th>
                </tr>
            </thead>
            @foreach (var item in Model.tarjetaModels)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Taxonomia.categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tiempo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dificultad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.puntos)
                        </td>

                    </tr>
                </tbody>
            }

        </table>
    </div>
</div>

<!--tabla que muestra las tareas asignadas a cada requerimiento-->
<div class="col-xs-3">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>descripcion</th>
                </tr>
            </thead>
            @foreach (var item in Model.tareaModels)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>

                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<!--tabla que muestra los verbos asignados a cada requerimiento -->
<div class="col-xs-3">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>verbos</th>
                </tr>
            </thead>
            @foreach (var item in Model.verbotarjetaModels)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Verbotax.verbos)
                        </td>

                    </tr>
                </tbody>
            }

        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Volver al juego", "GameBoard", "Home")
</div>