@model BloomSoft_V2.Models.Edicion

@{

    ViewBag.Title = "Muestra";

}

<meta name="viewport" content="width=device-width" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>


<style>
    .inlineTable {
        display: inline-block;
    }

    .table2 {
        margin-left: 35%;
        margin-top: -135px;
    }

    .table3 {
        margin-left: 70%;
        margin-top: -130px;
    }

    .button2 {
        padding-bottom: 2%;
        padding-right: 15%;
        padding-top: 2%;
        padding-left: 15%;
        background-color: transparent;
        font-size: 18px;
        color: white;
        border: 2px solid white;
        text-decoration: none;
    }


        .button2:hover {
            background-color: #3b3879;
            color: white;
            border: 2px solid #3b3879;
        }

    .container {
        padding: 2px 16px;
    }

    .modal-content {
        border: 4px solid #3b3879;
    }

    input[type=text] {
        border: 4px solid #3b3879;
    }

    textarea {
        border: 4px solid #3b3879;
        width: 100%;
        height: 100px;
    }

    select {
        border: 4px solid #3b3879;
        width: 100%;
        height: 40px;
    }

    .min {
        width: 70px;
        padding: 15px 22px;
    }

    .max {
        width: 192px;
        padding: 15px 22px;
        margin-right: 180px;
    }
</style>


<h2>Requerimientos</h2>


<div class="col-xs-4">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Proyecto</th>
                    <th>Descripcion</th>
                    <th></th>

                </tr>
            </thead>
            @foreach (var item in Model.requerimientoModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Proyecto.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Editar Tarjeta", "Create", new { id_t = Model.tarjetaModels.Last().id_tarjetaRequerim, id_r = item.id_requerimiento })

                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<div class="col-xs-3">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>categoria</th>
                    <th>tiempo</th>
                    <th>dificultad</th>
                </tr>
            </thead>
            @foreach (var item in Model.tarjetaModels)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Taxonomia.categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tiempo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dificultad)
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>
</div>

<div class="col-xs-2">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>descripcion</th>
                </tr>
            </thead>
            @foreach (var item in Model.tareaModels)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<div class="col-xs-2">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>verbos</th>
                </tr>
            </thead>
            @foreach (var item in Model.verbotarjetaModels)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Verbotax.verbos)
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>
</div>

<div>
    @Html.ActionLink("Volver al juego", "GameBoard", "Home")
</div>




