@model IEnumerable<BloomSoft_V2.Models.TarjetaRequerim>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartidaJugador.id_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Requerimiento.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taxonomia.categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tiempo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dificultad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puntos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PartidaJugador.id_usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requerimiento.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Taxonomia.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tiempo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dificultad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puntos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_tarjetaRequerim }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_tarjetaRequerim }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_tarjetaRequerim })
        </td>
    </tr>
}

</table>
