@model IEnumerable<BloomSoft_V2.Models.PartidaJuego>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--vista que muestra el contenido de la tabla PartidaJuego-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proyecto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hora)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proyecto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_partidaJuego }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_partidaJuego }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_partidaJuego })
        </td>
    </tr>
}

</table>
