@using Microsoft.AspNet.Identity

@model BloomSoft_V2.Models.Tablero
@using BloomSoft_V2.Models

@{

    var id_partida = 0;
    foreach (var partida in Model.JugadorModel)
    {
        if (partida.id_usuario == User.Identity.GetUserId() && partida.PartidaJuego.estado == true)
        {
            id_partida = partida.id_partidaJuego;
        }
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "PartidaJuego";
}

<!DOCTYPE html>

<html>
<head>

    @Styles.Render("~/Content/menustyle")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    
    <title></title>
    
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        .container {
            padding: 2px 16px;
        }

        .modal-content {
            border: 4px solid #3b3879;
        }

        input[type=text] {
            border: 4px solid #3b3879;
        }

        textarea {
            border: 4px solid #3b3879;
            width: 100%;
            height: 100px;
        }

        select {
            border: 4px solid #3b3879;
            width: 100%;
            height: 40px;
        }

        .min {
            width: 70px;
            padding: 15px 22px;
        }

        .max {
            width: 192px;
            padding: 15px 22px;
            margin-right: 180px;
        }

        div.conoc {
            margin-right: 80px;
            width: 150px;
            height: 190px;
            background-image: url('../Imagenes/Conocimiento.png');
            background-repeat: no-repeat;
        }

            div.conoc:hover {
                background-image: url('../Imagenes/ConocimientoHov.png');
                background-repeat: no-repeat;
            }

        div.compr {
            width: 190px;
            height: 190px;
            background-image: url('../Imagenes/Comprension.png');
            background-repeat: no-repeat;
        }

            div.compr:hover {
                background-image: url('../Imagenes/ComprensionHov.png');
                background-repeat: no-repeat;
            }

        div.analisis {
            width: 150px;
            height: 190px;
            background-image: url('../Imagenes/Analisis.png');
            background-repeat: no-repeat;
        }

            div.analisis:hover {
                background-image: url('../Imagenes/AnalisisHov.png');
                background-repeat: no-repeat;
            }

        div.eval {
            margin-right: 180px;
            width: 150px;
            height: 190px;
            background-image: url('../Imagenes/Evaluacion.png');
            background-repeat: no-repeat;
        }

            div.eval:hover {
                background-image: url('../Imagenes/EvaluacionHov.png');
                background-repeat: no-repeat;
            }

        div.aplic {
            width: 150px;
            height: 190px;
            background-image: url('../Imagenes/Aplicacion.png');
            background-repeat: no-repeat;
        }

            div.aplic:hover {
                background-image: url('../Imagenes/AplicacionHov.png');
                background-repeat: no-repeat;
            }

        div.sint {
            width: 150px;
            height: 190px;
            background-image: url('../Imagenes/Sintesis.png');
            background-repeat: no-repeat;
        }

            div.sint:hover {
                background-image: url('../Imagenes/SintesisHov.png');
                background-repeat: no-repeat;
            }

        div.edit {
            width: 200px;
            height: 150px;
            background-image: url('../Imagenes/boton_tarjeta1.png');
            background-repeat: no-repeat;
            background-size: 180px 140px;
        }

            div.edit:hover {
                background-image: url('../Imagenes/boton tarjetaHov1.png');
                background-repeat: no-repeat;
            }

        div.lanzar {
            width: 100px;
            height: 150px;
            background-image: url('../Imagenes/carta.jpg');
            background-repeat: no-repeat;
            background-size: 90px 140px;
        }

            div.lanzar:hover {
                background-image: url('../Imagenes/cartaHov.jpg');
                background-repeat: no-repeat;
            }

        #myImg {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

            #myImg:hover {
                opacity: 0.7;
            }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.9);
        }

        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }

        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }

        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        .close {
            position: absolute;
            top: 45px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

            .close:hover,
            .close:focus {
                color: #bbb;
                text-decoration: none;
                cursor: pointer;
            }

        div.jugador {
            width: 60px;
            height: 60px;
            background-image: url('../Imagenes/usuario_azul.png');
            background-repeat: no-repeat;
            background-size: 60px 60px;
        }

        div.jugadoractivo {
            width: 60px;
            height: 60px;
            background-image: url('../Imagenes/usuario_rojo.png');
            background-repeat: no-repeat;
            background-size: 60px 60px;
        }

        .tarjetalanzar {
            width: 35%;
            border: #3b3879 3px solid;
            margin-left: auto;
            margin-right: auto;
        }
       
    </style>
</head>
<body>
    <div class="container">
        <h4>ID de Partida @id_partida</h4>
        <div class="row">
            <div class="col-sm-3 col-md-3">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-folder-close">
                                    </span> Requerimientos
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("Muestra", "Edicion")">Agregar/Ver Requerimientos</a>

                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="glyphicon glyphicon-folder-close">
                                    </span> Resultado
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="#">Generar Resultados</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">Exportar</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="glyphicon glyphicon-th">
                                    </span>Equipo
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <lu class="list-group">
                                    @foreach (var partida in Model.JugadorModel)
                                    {
                                        if (id_partida == partida.id_partidaJuego && partida.id_usuario == User.Identity.GetUserId())
                                        {
                                            foreach (var itParticipantes in partida.PartidaJuego.Proyecto.Participante)
                                            {
                                                if (partida.PartidaJuego.id_proyecto == itParticipantes.id_proyecto)
                                                {
                                                    <td>
                                                        @itParticipantes.AspNetUsers.UserName
                                                    </td>
                                                }
                                            }
                                        }
                                    }
                                </lu>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="glyphicon glyphicon-th">
                                    </span>Taxonomia de BloomSoft
                                    <img id="myImg" src="~/Content/imagenes/TaxBloom.jpg" alt="Taxonomía de Bloom" style="width:100%;max-width:300px">
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" onclick="location.href='@Url.Action("Index", "Home")'">
                                    <span class="glyphicon glyphicon-th">
                                    </span>Salir del Juego
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="img01">
                <div id="caption"></div>
            </div>
            <script>
                var modal = document.getElementById("myModal");
                var img = document.getElementById("myImg");
                var modalImg = document.getElementById("img01");
                var captionText = document.getElementById("caption");
                img.onclick = function () {
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                }

                var span = document.getElementsByClassName("close")[0];

                span.onclick = function () {
                    modal.style.display = "none";
                }

                function toggle_visibility(id) {
                    var e = document.getElementById(id);
                    if (e.style.display == 'block')
                        e.style.display = 'none';
                    else
                        e.style.display = 'block';
                }


            </script>
            @*<div class="row">
            <div class="column">
                <div class="card">
                    <img src="~/Imagenes/Analisis.png" class="card-img-top" alt="Analisis">
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="~/Imagenes/Comprension.png" class="card-img-top" alt="Comprension">
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="~/Imagenes/Conocimiento.png" class="card-img-top" alt="Conocimiento">
                </div>
            </div>
        </div>*@

            @{
                var activo = false;
                var activo2 = false;
                var activo3 = false;
                var activo4 = false;
                var activo5 = false;
                var activo6 = false;

                var valor=0;

            }


            <div style="margin-top:5%">

                <div style="float:right; margin-right:15%">
                    <a onclick="@(activo = true)"><div class="conoc"></div></a>
                </div>
                <div style="float:right; margin-right:5%">
                    <a onclick="@(activo2 = true)"><div class="compr"></div></a>
                </div>
                <div style="float:right; margin-right:5%">
                    <a onclick="@(activo3 = true)"><div class="analisis"></div></a>
                </div>
            </div>
            <div style="margin-top:30%; margin-right:3%">
                <div style="float:right; margin-right:5%">
                    <a onclick="@(activo4 = true)"><div class="eval"></div></a>
                </div>
                <div style="float:right; margin-right:5%">
                    <a onclick="@(activo5 = true)"><div class="aplic"></div></a>
                </div>
                <div style="float:right; margin-right:5%">
                    <a onclick="@(activo = true)"><div class="sint"></div></a>
                </div>
            </div>

            @{
                if (activo)
                { valor = 1; }
                else
                {
                    if (activo2)
                    { valor = 2; }
                    else
                    {
                        if (activo3)
                        { valor = 3; }
                        else
                        {
                            if (activo4)
                            { valor = 4; }
                            else
                            {
                                if (activo5)
                                { valor = 5; }
                                else
                                {
                                    if (activo6)
                                    { valor = 6; }
                                }
                            }
                        }
                    }
                }
            }
            }

            <div class="form-group">
                <div class="row">
                    @foreach (var partida in Model.JugadorModel)
                    {
                        if (id_partida == partida.id_partidaJuego)
                        {
                            var nombre = partida.AspNetUsers.UserName.Substring(0, 10);
                            <div class="col-sm-1">
                                @if (partida.turno == false)
                                {
                                    <div class="jugador"></div>
                                    <p class="small">@nombre</p>
                                }
                                else
                                {
                                    <div class="jugadoractivo"></div>
                                    <p class="small">@nombre</p>
                                    <input type="button" class="btn btn-primary" id="@partida.id_partidaJugador" value="Lanzar" onclick="cambiarTurno();" />
                                    //<a class="btn btn-primary" href="~/Views/Home/GameBoard/@partida.id_partidaJuego">Lanzar</a>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
            <div style="margin-top:-700px; float:left; margin-left:88%">
                <a href="@Url.Action("Muestra", "Edicion")"><div class="edit"></div></a>
            </div>


            <div style="margin-top:-550px; float:left; margin-left:96%">
                <button type="button" class="btn btn-primary" onclick="toggle_visibility('tarjeta');">Lanzar</button>
            </div>

            <div id="tarjeta" class="tarjetalanzar" style="margin-top:-500px; float:left; margin-left:88%; display:none">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="table-responsive">
                            <table class="table table-striped">


                                @foreach (var item in Model.requerimientoModels)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.RadioButton("check", true)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.descripcion)
                                            </td>
                                        </tr>
                                    </tbody>
                                }

                            </table>
                        </div>
                    </div>
                    <div class="col-xs-3" style="margin-left:-12%">
                        <div class="table-responsive">
                            <table class="table table-striped">


                                @foreach (var item in Model.tarjetaModels)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.ActionLink(">", "Edit", "Edicion", new { id = item.id_tarjetaRequerim, nivel=valor }, null)
                                            </td>
                                        </tr>
                                    </tbody>
                                }

                            </table>
                        </div>
                    </div>

                    <div class="col-xs-5" style="margin-left:-18%">
                        <div class="table-responsive">
                            <table class="table table-striped">

                                @foreach (var item in Model.tareaModels)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.descripcion, "Edit2", "Edicion", new { id = item.id_tarea }, null)
                                            </td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>

                    <div class="col-xs-3" style="margin-left:-12%">
                        <div class="table-responsive">
                            <table class="table table-striped">

                                @foreach (var item in Model.verbotarjetaModels)
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                @Html.ActionLink(item.Verbotax.verbos, "Edit3", "Edicion", new { id = item.id_verbostarjeta }, null)
                                            </td>
                                        </tr>
                                    </tbody>
                                }


                            </table>
                        </div>
                    </div>
                </div>
            </div>



        </div>
   </div>

            <!--
            <script language="javaScript">
                function cambiarTurno()
                {
                    var cantidad = 0;
                    var contador = 0;
                    var contador2 = 0;
                    foreach (var partida in Model)
                    {
                        cantidad =
                    }

                    foreach (var partida in Model)
                    {
                        if (id_partida == partida.id_partidaJuego)
                        {
                            var nombre = partida.AspNetUsers.UserName.Substring(0, 10);
                        }
                        cantidad++;
                        foreach(var partida in part)
                        {
                            contador++;
                            if (partida.turno == true)
                                db.PartidaJugador.Find(partida.id_partidaJugador).turno = false;
                            if (contador == cantidad)
                                contador = 1;
                        }
                        foreach(var partida in part)
                        {
                            contador2++;
                            if (contador + 1 == contador2)
                                db.PartidaJugador.Find(partida.id_partidaJugador).turno = true;
                        }
                        db.SaveChanges();

                        var partJuego = db.PartidaJugador;
                        if (partJuego == null) {
                            return RedirectToAction("Index", "HomeController");
                        }
                    }
            </script>
                -->
</body>
</html>

