@model IEnumerable<BloomSoft_V2.Models.PartidaJugador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<!--formato para mostrar los valores de la tabla PartidaJugador-->
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUsers.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartidaJuego.id_usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.puntos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartidaJuego.id_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puntos)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id_partidaJugador }) |
                @Html.ActionLink("Details", "Details", new { id = item.id_partidaJugador }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id_partidaJugador })
            </td>
        </tr>
    }

</table>
